<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/_albanv/" target="_blank">@_albanv</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/albanv/" target="_blank">@albanv</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/pub/alban-vitale" target="_blank">alban-vitale</a></p>
<!-- <p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://ellekasai.com/" target="_blank">ellekasai.com</a></p> -->
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:me@alban.io" target="_blank">me@alban.io</a></p>